@import url('https://fonts.googleapis.com/css?family=Arvo:100,200,300,400,500,600,700');
@import url('https://fonts.googleapis.com/css?family=Catamaran:100,200,300,400,500,600,700');



/* NAVBAR TEST SETTINGS -------------------------------------- */
.navbar-light .navbar-brand {
    background-color: #3aafa9;

}

.navbar-light .navbar-nav .nav-link {
    color: #17252a;

    /* MAKE BACKGROUND OF NAVBAR ITEMS TRANSPARENT */
    background-color: transparent;
}

.navbar-light .navbar-nav .nav-link:hover {
    color:#3aafa9;

}

/* .navbar-light .navbar-toggler {
    color: red;
} */

/* ADJUST NAVBAR LOGO AND BUTTON */
.navbar {
    padding: 0.5rem 1.5rem;
    /* position:fixed; */
}

/* .navbar-collapse {
padding-right: 3rem;
} */


/* ADJUST NAVBAR RIGHT SIDE MENU ITEMS */

/* DEFAULT PADDING */
.navbar-nav.text-right {
  padding-left:65vw;
  padding-right: 0vw;
}


/* REDUCE PADDING FOR LARGER DEVICES */
@media(min-width: 768px) {
    .navbar-nav.text-right {
    padding-left:50vw;
    }
}

/* REDUCE PADDING FOR MOBILE DEVICES > 767px IN LANDSCAPE */
@media(min-width: 768px) and (max-height: 500px) {
    .navbar-nav.text-right {
    padding-left:50vw;
  }
}

.nav-item {
    text-align:center;
}

/* REDUCE LANDING PAGE FONT SIZES FOR SMALL DEVICES */
@media(max-width: 500px) {
    #landing-title>h3 {
    font-size:1.4rem;
    }

    #landing-title h4 {
    font-size:1.1rem;
    }
}


/* END NAVBAR TEST SETTINGS -------------------------------------- */

body {
    background-color: #fdfdfd;
}

/*----------COLOURS---------*/

/* .name {
 color:#3aafa9;
} */

/* .jumbotron h1{
    color:#00f7d5;
} */

.title {
    color:#00f7d5;
}

.bg-color-start {
    background-color:#3aafa9;

}

.scroll-start {
    position:relative;
    /* z-index: -5; */
}

/*----------NAVBAR---------*/

/* .jumbotron p {
    font-size: 2.5em;
} */


/* .navbar {
    background: none;
    border-color: transparent;
    letter-spacing: 7px;
    text-transform: uppercase;

} */



/* .navbar-nav li a {
    padding: 20px 25px 15px 25px;
    color: transparent;
} */



a {
    background-color: #E4E4E4;
    /* color: #3aafa9  !important; */

    font-size: 1.12em;
    padding-left: 10px;
    padding-right: 10px;
    transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -webkit-transition: all .3s ease-in-out;
}

/* .navbar-default .navbar-nav li a:hover {

    color:#07f894;
} */

/* .navbar-right {
    float: right!important;
} */

/* RIGHT NAVBAR - OUTER */
/* .navbar .navbar-collapse {
    text-align: right;
    border-top: 1px solid transparent;

    width:20vw;
    float: right;

    overflow-x: hidden;
}

/* RIGHT NAVBAR - MENU LINE ITEMS */
/*
.navbar-right>li {
text-align: right;

width:20vw;
} */

/* @media (max-width: 5000px) {
    .navbar-header {
        float: none;
    }
    .navbar-left,
    .navbar-right {
        float: none !important;
    }
    .navbar-toggle {
        display: block;
    }
    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1);
    }
    .navbar-fixed-top {
        top: 0;
        border-width: 0 0 1px;
    }
    .navbar-collapse.collapse {
        display: none!important;
    }
    .navbar-nav {
        float: none!important;
        margin-top: 7.5px;
    }
    .navbar-nav>li {
        float: none;
    }
    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;

    }
    .collapse.in {
        display: block !important;
    }
} */


#landing-view {
    background-attachment: fixed;
    background-image: url('../images/Leaf.jpg');
    background-position: center;
    background-size: cover;
    height: 100vh;
    width: 100vw;
    margin-bottom: 0px;
    z-index: 1;
}

#landing-title {
     color:linen;
     position: absolute;
     top: 10%;
     left: 10%;

}

.power-button {
    background-color: transparent;
    color: #3aafa9;

    font-size: 3.12em;
    text-align:center;
    padding-top: 2px;
    padding-left: 110px;
    padding-right: 10px;
    transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -webkit-transition: all .3s ease-in-out;
}

.power-button:hover {
    color:#07f894;

}

#landing-text {
     color:linen;
     position: absolute;
     top: 75%;
     left: 3%;

}

#banner-view {
    background-attachment: fixed;
    background-image: url('../images/banner.jpg');
    background-color:#3aafa9;
    background-repeat:no-repeat;
    background-position: top;
    background-size:100vw;
    /* Adjust height of div containing the background image */
    height:35vh;
    width:auto;
    margin-bottom: 0px;

    z-index: 1;
}

#evplugs-pic {
    float:left;
    height: auto;
    max-width: 100%;
}

th {
    background-color:#3aafa9;
    color: black;
}

.table-setup {
    /* Centre the table horizontally */
    margin: 0px auto;
    font-weight: 500;
    margin-bottom: 20px;
}

.table-page {
    margin-right:-5px;
    margin-left:-5px;
}

.mfr-link {
    margin-left: 20px;
}

.top {
    padding-left: 12px;
    text-align:center;
}

.top p{
     font-size: 1.5em;
}

h1 {
    margin-top:10vmax;
    padding-top: 5%;
    font-size: 4.3em;

}

.section-column {
    /* border: 3px solid red; */
    font-size: 1em;
    text-align: justify;
    padding-left:25px;
    padding-right:25px;

}

.section-heading {
    font-family: "Arvo", sans-serif;
    font-weight: 900;
    font-size:  20px;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 20px;
    color:#17252a;

}

.uppercase {
    text-transform: uppercase;
}

/*------------ABOUT----------*/

.about-row {
    padding-bottom: 10%;
    font-size: 1.75em;
    line-height: 2;
}

h2 {
    margin-left: 15px;
    letter-spacing: 7px;
    /* text-transform: uppercase; */
}

.about-row .about-p {
    font-size: .8em;
}



/*-----------FOOTER----------*/

footer {

    bottom: 0;
    left: 0;
    width:100%;
    height:10%;
    border-color:transparent;
    background-color: #17252a;
    text-align: right;
}



/* .footer-contents {
    margin-bottom: 20px;
} */

.footer-title {
        font-family: "Arvo", sans-serif;
        font-weight: 900;
        margin-bottom: -0.1rem;
        text-align: center;
        color: #3aafa9;
}

.footer-text {
    font-family: "Arvo" sans-serif;
    font-weight: 200;
    font-size: 13px;
    text-align: center;
    color: #3aafa9;
    display: inline-block;
}


.footer-links {
    margin-top: 20px;
    text-align: center;

}

.footer-links a {
    padding-right: 15px;
    padding-left: 4px;
    padding-bottom: 5px;
    padding-top: 5px;

    color:#3aafa9;
    transition: color 0.1s ease-in-out;
    background-color: transparent;

}

.footer-links a:hover {
    color:#07f894;

}

/* link icons settings*/
.footer-links i{
    line-height: 2px;
    display: inline-block;
    /* box-shadow: 0px 0px 2px #888; */
    background-color: transparent;

    width: 30px;
    height: 30px;

    padding: 20px 0;
    /* border-radius: 50%; */
    /*font-size: 28px;*/
    font-size: 25px;
    text-align: center;
    vertical-align: middle;
    transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out;
    margin-top: 2.5px;
    margin-bottom: 2.5px;

}



.list-inline-item {
    margin:0;
}



.list-inline>li {
    display: inline-block;

    padding-right: 0px;
    padding-left: 0px;
    padding-bottom: 0px;
    padding-top: 10px;
}

/* SET RIGHT NAVBAR SETTINGS */
/* .navbar-default .navbar-nav>li>a {
    padding-right: 15px;
    padding-left: 20px;
    padding-bottom: 5px;
    padding-top: 5px;

     background-color: #17252a;
     color:#3aafa9;
} */




/*-----------MEDIA QUERIES----------*/

/* Bring the power button closer to text, and reduce size, for screen widths >= 768px  */
@media(min-width: 768px) {
.power-button {
     font-size: 1.12em;
    padding-left: 10px;
}

/* Make the footer higher for screen widths >= 1400px  */
@media(min-width: 1366px) {
    footer {
        height:15%;
    }
}

/* Make the footer static for small devices, remains fixed in viewport for larger devices  */
@media(max-width: 767px) {
    footer {
        position:static;

    }
}

/* Double the footer height for small devices in landscape mode */
@media(min-width: 768px) and (max-height: 500px) {
    footer {
        height:20%;
    }
}

/* Remove the footer links top margin for small devices */
@media(max-width: 767px) {
    .footer-links {
    margin-top:0px;
   }
    /* SHRINK ICONS IF NEEDED */
   /* .footer-links i {
    width: 15px;
    height: 15px;
    font-size: 12px;
   } */
}









